---
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Neuro Ei8ht</title>
	</head>
	<body>
			<Header />
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Plus Jakarta Sans', system-ui, sans-serif;
	}

	main {
		padding-top: 80px; /* Add space for the fixed header */
	}

  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }

    nav {
      margin-top: 1rem;
    }
  }
</style>
